{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}
<style>
    body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Block-Center{
    background-color: whitesmoke;
    margin: 14% auto;
    position: relative;
    height: 20em;
    width: 20em;
    border-radius: 25px;
    padding: 12px;
}

.Titre{
    text-align: center;
    font-size: 2em;
}

.Container{
    margin-top: 15px;
    text-align: center;
}

.Form-input
{
    padding:10px;
    margin: 10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  .Container-3
  {
    width: 100%;
  }

  .Btn{
      font-size: 1em;
      background-color: blue;
      color: whitesmoke;
      border-radius: 30px;
      float: right;
      margin: 30px;
      padding: 5px;
  }
</style>



 <form class="Block-Center">
        <div class="Titre">
          <span>Reservation</span>
        </div>
        <div class="Container">
          <div class="Container-1">
            <input type="input" placeholder="nb reservation" class="Form-input" id='name' required />
          </div>
        </div>
        <div class="Container-3">
          <button class="Btn">Connexion</button>
        </div>
      </form>
{% endblock %}
